.foots {
    position: relative;
    color: white;
    bottom: 150px;
    margin-left: 40px;
    display: flex;
}

.foots_attri {
    flex: 1;
    color: white;
}

.foots_attri > p {
     padding-bottom: 20px;
}

.foots_attri > h1 {
    padding-bottom: 20px;
}